.card {
    margin: 0 auto;
    width: 24rem;
    height: 32rem;
    border-radius: 10px;
    background: url(photo.jfif) center center no-repeat;
    background-size: 100%;
    transition: 1s ease-in-out;
    padding: .75rem;
}

.card:hover {
    background-position: right center;
    background-size: 45rem;
}

.card__border {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    color: white;

    border: 1.5px solid white;
    border-radius: .5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    opacity: 0;
    transition: 1s ease-in-out;
}

.card:hover .card__border {
    opacity: 1;
}

.card__title {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.card__icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.fa-brands {
    color: white;
    font-size: 2rem;
}